In [1]:
import pandas as pd
from pathlib import Path
import os
import numpy as np
import csv

In [2]:
#create file path
file_path = Path (os.getcwd() + "/budget_data.csv")

In [3]:
#read csv file as a dataframe
budget_csv=pd.read_csv(file_path)
budget_csv.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
#summary of outputs
budget_csv.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [5]:
#identify data types
budget_csv.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [6]:
budget_path="output.txt"

In [7]:
total_months = 0
total_pl = 0
value = 0
change = 0
dates = []
profits = []

In [8]:
#Opening and reading the CSV file
with open(file_path, newline = "") as csvfile:
    csvreader = csv.reader(csvfile, delimiter = ",")

    #Reading the header row
    csv_header = next(csvreader)

    #Reading the first row (so that we track the changes properly)
    first_row = next(csvreader)
    total_months += 1
    total_pl += int(first_row[1])
    value = int(first_row[1])
    
    #Going through each row of data after the header & first row 
    for row in csvreader:
        # Keeping track of the dates
        dates.append(row[0])
        
        # Calculate the change, then add it to list of changes
        change = int(row[1])-value
        profits.append(change)
        value = int(row[1])
        
        #Total number of months
        total_months += 1

        #Total net amount of "Profit/Losses over entire period"
        total_pl = total_pl + int(row[1])

In [9]:
print(total_pl)

38382578

In [30]:
greatest_increase=max(profits)
print(greatest_increase)

greatest_index = profits.index(greatest_increase)
greatest_date = dates[greatest_index]

print(greatest_date)

1926159
Feb-2012

In [31]:
greatest_decrease=min(profits)
print(greatest_decrease)

lowest_index = profits.index(greatest_decrease)
lowest_date = dates[lowest_index]

print(lowest_date)

-2196167
Sep-2013

In [12]:
average_change=sum(profits)/len(profits)
print(average_change)

-2315.1176470588234

In [13]:
#Total number of months included in the dataset=86
budget_csv.count(0)

Date             86
Profit/Losses    86
dtype: int64

In [14]:
print(total_months)

86

In [15]:
print(f"Total months: {total_months}")

Total months: 86

In [20]:
print(f"Total: {total_pl}")

Total: 38382578

In [21]:
print(f"Average Change: {average_change}")

Average Change: -2315.1176470588234

In [32]:
print(f"Greatest Increase in Profits: {greatest_date} (${str(greatest_increase)})")

Greatest Increase in Profits: Feb-2012 ($1926159)

In [33]:
print(f"Greatest Decrease in Profits: {lowest_date} (${str(greatest_decrease)})")

Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [56]:
file=open("budget_output.txt","w")
file.write("Financial Analysis" + "\n")
file.write("--------------------------"+ "\n")
file.write(f"Total: {total_pl}" + "\n")
file.write(f"Total: {average_change}" + "\n")
file.write(f"Total: {greatest_date} (${str(greatest_increase)})" + "\n")
file.write(f"Total:{lowest_date} (${str(greatest_decrease)})" + "\n")
file.close()